%tr[plugin]
  - unless defined? hide_screenshot && hide_screenshot
    %td.screenshot
      = image_tag plugin.screenshot.url(:thumb), :width=>120
  %td.info
    .name
      = link_to plugin.excerpts.name, plugin
      - unless defined? hide_edit && hide_edit
        = link_to "Edit", edit_plugin_path(plugin), :class=>"action" if can_edit?(plugin)
    .description= plugin.excerpts.description
    .meta
      - unless plugin.supports_radiant_version.blank?
        %span.supports
          Supports
          = h plugin.supports_radiant_version
      - unless defined? hide_author && hide_author
        %span.authored
          by
          = link_to_author plugin.author