!!! Strict
%html
  %head
    %title= @title
    = stylesheet_link_tag "screen"
    = javascript_include_tag :defaults
    %link{:href => extensions_path(:format => :atom, :rel => "alternate", :type => "application/atom+xml", :title => "Radiant Extension Registry"}
  %body{:id => "#{@controller.controller_name}_#{@controller.action_name}"}
    #header_wrapper
      #header
        #logo 
          .title Radiant CMS
          .subtitle Extension Registry
          .parent_site= link_to "ChiliProject.org", "http://www.chiliproject.org"
    #navigation_wrapper
      #navigation
        .account_links
          - if logged_in?
            = "Welcome back #{ link_to h(current_author), profile_path, :class => (@selected == :profile ? "here" : nil) }!"
            &nbsp;
            = link_to "Logout", logout_url
          - else
            = link_to "Signup", signup_url, :class => ("here" if @selected == :signup)
            or
            = link_to "Login", login_url, :class => ("here" if @selected == :login)
        %ul.primary_links
          %li#index_link{:class => ("here" if @selected == :home)}
            = link_to "Home", root_path
          %li#index_link{:class => ("here" if @selected == :plugins)}
            = link_to "Plugins", plugins_path
          %li#authors_link{:class => ("here" if @selected == :authors)}
            = link_to "Authors", authors_path
          %li#search_link{:class => ("here" if @selected == :search)}
            = link_to "Search", search_path
    - if content_for? :head
      #head_wrapper
        #head
          = yield :head
    #main_wrapper
      #main{:class => ("content_with_sidebar" if content_for? :sidebar)}
        #content
          - flash.keys.each do |key|
            %p{:id=>key}= flash[key]
          - if content_for? :actions
            #actions
              = yield :actions
          - unless (@h1 || @title).blank?
            %h1= @h1 || @title
          = yield
        - if content_for? :sidebar
          #sidebar
            = yield :sidebar
    #footer_wrapper
      #footer
        %p
          The <a href="https://github.com/chiliproject/extension-registry">source code</a>
          for this website is available on GitHub. Contact us on the 
          <a href="https://www.chiliproject.org/projects/chiliproject/boards">ChiliProject Forums</a>
          if you are interested in contributing, or just send us a pull request.
          Please direct bug reports, feature requests, and comments to the <a href="https://www.chiliproject.org/projects/chiliproject/issues">issue tracker</a>.
        %p
          = "Copyright &copy; 2008&#8211;#{Date.today.year} #{ link_to 'John W. Long', 'http://wiseheartdesign.com' } and #{ link_to 'Sean Cribbs', 'http://seancribbs.com' }."